@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --text: white;
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 103vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
